---
title:  "pandas 데이타프레임 생성 -- 기본"
# categories:
#   - Blog
tags: [python, pandas]

# toc: true
# toc_sticky: true
# toc_label: "페이지 목차"
---

### 데이타프레임 from 리스트

In [12]:
import pandas as pd

df1 = pd.DataFrame([[3,1,8], [23,12,34]])
df1

    0   1   2
0   3   1   8
1  23  12  34

### 데이타프레임 타입

In [13]:
type(df1)

pandas.core.frame.DataFrame

### 칼럼 지정

In [15]:
df1 = pd.DataFrame([[3,1,8],[23,12,34]], columns=["Price", "age", "value"])
df1

   Price  age  value
0      3    1      8
1     23   12     34

### 칼럼과 인덱스 지정

In [16]:
df1 = pd.DataFrame([[3,1,8],[23,12,34]], columns=["Price", "age", "value"], index=["First", "Second"])
df1

        Price  age  value
First       3    1      8
Second     23   12     34

### 인덱스 조회

In [38]:
df1.index

Index(['First', 'Second'], dtype='object')

### 칼럼 조회

In [39]:
df1.columns

Index(['Price', 'age', 'value'], dtype='object')

### 데이타프레임에서 하나의 열 추출

+ 방법1

In [31]:
df1.Price

First      3
Second    23
Name: Price, dtype: int64

+ 방법2

In [36]:
df1["Price"]

First      3
Second    23
Name: Price, dtype: int64

### 열의 타입 --> 시리즈

In [32]:
type(df1.Price)

pandas.core.series.Series

### 시리즈 평균

In [33]:
df1.Price.mean()

13.0

### 시리즈 최대

In [34]:
df1.Price.max()

23

### 데이타프레임 평균

In [25]:
df1.mean()

Price    13.0
age       6.5
value    21.0
dtype: float64

### 데이타프레임 평균 타입 --> 시리즈

In [26]:
type(df1.mean())

pandas.core.series.Series

### 데이타프레임 평균의 평균

In [27]:
df1.mean().mean()

13.5

### 시리즈 평균 타입

In [28]:
type(df1.mean().mean())

numpy.float64

### 딕셔너리로부터 데이타프레임 생성

In [17]:
df2 = pd.DataFrame([{"Name":"John"},{"Name":"Jack"}])
df2

   Name
0  John
1  Jack

In [18]:
df2 = pd.DataFrame([{"Name":"John","Surname":"Cho"},{"Name":"Jack"}])
df2

   Name Surname
0  John     Cho
1  Jack     NaN