---
title:  "pandas geopy : Geocoding"
# categories:
#   - Blog
tags: [python, pandas, geopy]

# toc: true
# toc_sticky: true
# toc_label: "페이지 목차"
---

### 지오코딩 (Geocoding)
+ 주소 (ex. '1600 Amphitheatre Parkway, Mountain View, CA')를 지리적 좌표(위도 37.423021, 경도 -122.083739)로 변환하는 것을 말한다
+ 역지오코딩 (Reverse geocoding): 지리적 좌표(위도 37.423021, 경도 -122.083739) 를 사람이 읽을 수 있는 주소 (ex. '1600 Amphitheatre Parkway, Mountain View, CA') 로 변환하는 것을 말한다

### 경도 위도 구하기

In [39]:
from geopy.geocoders import Nominatim

ncm = Nominatim(user_agent = 'South Korea')
n = ncm.geocode("세종문화회관")

print(n.latitude)
print(n.longitude)
type(n)

37.572284100000005
126.97557827108348

geopy.location.Location

### 주소 데이타프레임에 경도 위도 칼럼 추가하기

+ 주소 데이타프레임 만들기

In [40]:
import pandas as pd
df = pd.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25

+ 전체 주소 칼럼 만들기

In [42]:
df["Address"] = df["Address"] + ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25

+ "Address" 칼럼에 ncm.geocode()를 적용하여 "Coordinaetes" 칼럼 생성

In [44]:
df["Coordinaetes"] = df["Address"].apply(ncm.geocode)
df

,ID,Address,City,State,Country,Name,Employees,Coordinaetes
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, San Francisco,..."
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735, Dolores Street, Liberty Street Historic ..."
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, San Francisco, ..."

+ 생성한 Coordinates 조회

In [45]:
df.Coordinaetes

0    (3666, 21st Street, Noe Valley, San Francisco,...
1    (735, Dolores Street, Liberty Street Historic ...
2    (332, Hill Street, Noe Valley, San Francisco, ...
Name: Coordinaetes, dtype: object

+ Coordinaetes 칼럼의 첫 번째 Row

In [46]:
df.Coordinaetes[0]

Location(3666, 21st Street, Noe Valley, San Francisco, CAL Fire Northern Region, California, 94114, United States, (37.75664965, -122.42940540299549, 0.0))

+ df.Coordinaetes[0] 타입 확인

In [49]:
type(df.Coordinaetes[0])

geopy.location.Location

+ latitude 조회

In [48]:
df.Coordinaetes[0].latitude

37.75664965

+ apply()와 lambda를 이용하여 경도/위도 칼럼 추가

In [53]:
df["Latitude"] = df.Coordinaetes.apply(lambda x: x.latitude)
df["Longitude"] = df.Coordinaetes.apply(lambda x: x.longitude)
df

,ID,Address,City,State,Country,Name,Employees,Coordinaetes,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, San Francisco,...",37.756650,-122.429405
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735, Dolores Street, Liberty Street Historic ...",37.757726,-122.425529
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, San Francisco, ...",37.755836,-122.428832